<IfModule mod_rewrite.c>
    RewriteEngine On
    
    #代表如果路徑沒有檔案
    RewriteCond %{REQUEST_FILENAME} !-f

    #代表如果路徑沒有資料夾
    RewriteCond %{REQUEST_FILENAME} !-d

    #就執行index.php
    RewriteRule ^ index.php [L]


</IfModule>